<DOCTYPE html>
    <% include ../partials/head %>
        <html>

        <body>
            <% include ../partials/header %>
            <% include ../partials/form %>
        </body>

        </html>
